Test-Command: cd "$AUTOPKGTEST_TMP" && python3 -c "import aiohttp_session_file; print('Import test successful')"
Depends: python3-aiohttp-session-file
Restrictions: allow-stderr

Tests: pytest
Depends: python3-aiohttp-session-file, python3-pytest, python3-pytest-aiohttp, python3-aiohttp, python3-aiohttp-session, python3-aiofiles
Restrictions: allow-stderr
